version: "3.9"

services:
  mongo:
    image: mongo:5
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: hunzala00/backend-prod:latest
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    image: hunzala00/frontend-prod:latest
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  admin:
    image: hunzala00/admin-prod:latest
    container_name: admin
    ports:
      - "5174:5174"

volumes:
  mongo_data:
